nav {
  margin-bottom: 20px;
}

.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer {
  padding-top: 40px;
}

.sidebar {
  padding-left: 30px;
}

.comments {
  margin: 20px 0;
}

.reply-body {
  margin-top: 10px;
}

footer {
  margin-top: 30px;
  padding: 10px 0 40px;
  color: #999;
  border-top: 1px solid #e5e5e5;
}

.alert-matrix {
  color: #66ff66;
  background-color: #000000;
  border-color: #ebccd1;
}

.tip {
  color: black !important;
  position: relative;
  padding: 40px;
  text-align: center;
  background-color: #fafbfc;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(27, 31, 35, 0.05);
}
